<!DOCTYPE html>
<html>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      <!-- SVG定義 -->
      <svg id="svg" dx="0" dy="0" width="500px" height="500px" viewBox="0,0,500,500" style="border:1px solid #000;">
        <rect id="rect1" fill="green" x="10" y="10"  width="100" height="100"></rect>
        <rect id="rect2" fill="red" x="200" y="150"  width="100" height="100"></rect>
        <rect id="rect3" fill="blue" x="310" y="410"  width="200" height="100"></rect>
      </svg>
      <script src="/javascripts/svg-zoom2.js"></script>
    </div>

  </body>

</html>